<template>
  <div class="footer">
    <a href="mailto:nic@codewizard.io">© Nic Duerr - Let's talk!</a>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  data() {
    return {
      key: "value"
    }
  },
  methods: {
    name() {

    }
  },
}
</script>

<style scoped>
.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5em;
}
a {
  color: #030049;
  text-decoration: none;
}
</style>