<template>
  <div class="howto-container">
    <h2>How-To</h2>
    <ol>
      <li>Open this page in your computers browser.</li>
      <li>Wait for it to connect to the backend and generate the QR code on the right</li>
      <li>
        Scan the QR code with your mobile device (iOS camera can scan QR codes by default, 
        for Android you might need an extra app)
      </li>
      <li>
        Once scanned, your mobile device will complete the login by contacting the login 
        server on a secondary channel and you will be automatically logged in on this site
        <div class="arrow arrow-right"></div>
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  name: 'Howto'
}
</script>

<style scoped>
.howto-container {
  padding-right: 50px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.arrow-right {
  transform: rotate(-45deg);
}
</style>