<template>
  <div class="main-container">
    <div class="status">
      <Howto></Howto>
      <h2>Status</h2>
      <ul>
        <li v-for="m in statusMessages" :key="m">{{m}}</li>
      </ul>
    </div>
    <div class="content">
      <Welcome v-if="authorized && user" :user="user">
      </Welcome>
      <div v-else class="login">
        <div v-if="!qrCode" class="loading"></div>
        <div v-if="qrCode" class="scan-hint">
          Scan with your mobile device<br>
          <div class="arrow arrow-down" style="border-color:rgb(35, 155, 86);"></div>
        </div>
        <div class="qr">
          <canvas id="qrcode" ref="qr"></canvas>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import QRious from 'qrious'

import Howto from '@/components/Howto.vue'
import Welcome from '@/components/Welcome.vue'

export default {
  name: 'PasswordlessLogin',
  components: {
    Howto,
    Welcome
  },
  data() {
    return {
      user: null,
      authorized: false,
      socket: null,
      statusMessages: [],
      qrCode: null
    }
  },
  mounted() {
    this.statusMessages.push('connecting to login server')
    this.socket = new WebSocket('wss://passwordless-poc.herokuapp.com/login-request')
    this.socket.onopen = this.connectionEstablished
    this.socket.onmessage = this.handleServerMessage
  },
  methods: {
    connectionEstablished() {
      this.statusMessages.push('connection to login server established')
      this.statusMessages.push('requesting login token')
      this.socket.send(JSON.stringify({ apikey: "CLIENT-API-KEY-TOP-S3CR3T" }))
    },
    handleServerMessage(e) {
      const data = JSON.parse(e.data)
      switch (data.type) {
        case "TOKEN_ISSUED" : 
          this.statusMessages.push('login token received')
          this.generateQrCode(data.token)
          break;
        case "LOGIN_CONFIRMED" :
          this.loginConfirmed(data)
          break;  
      }
    },
    generateQrCode(token) {
      if(token) {
        this.statusMessages.push('generating QR code')
        this.qrCode = new QRious({
          element: this.$refs.qr,
          value: 'https://passwordless-poc.herokuapp.com/confirm-login?token=' + token + '&user=JohnDoe%40gmail.com',
          size: 300,
          foreground: '#030049'
        });
        this.statusMessages.push('qr code ready. scan with your smartphone to log in')
      }
      else {
        this.statusMessages.push('error, no token to generate QR code recieved')
      }
    },
    loginConfirmed(data) {
      this.authorized = data.authorized,
      this.user = data.user
      this.statusMessages.push('login confirmed. welcome!')
    }
  },
}
</script>

<style scoped>
.main-container {
  display: flex;
  padding: 50px 100px;
  text-align: left;
}
.status {
  flex: 1;
  padding: 0px 50px;
}
.content {
  flex: 2;
}
.qr {
  margin: 30px 0px;
}
.scan-hint {
  display: inline-block;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border: 3px solid rgb(35, 155, 86);
  color: rgb(35, 155, 86);
  border-radius: 5px;
  animation: hover 2s alternate infinite ease-in-out;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.arrow-down {
  transform: rotate(45deg);
}
.arrow-right {
  transform: rotate(-45deg);
}
.loading {
  margin: 80px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #030049;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes hover {
  from {
    transform: translateY(-10%);
  }
  
  to {
    transform: translateY(10%);
  }
}
</style>