<template>
  <div class="welcome-container">
    <div class="success">
      Successfully logged in!
    </div>
    <h2>Welcome {{user}}!</h2>
    <p>
      In a real world scenario the QR code would not open your mobile browser,
      but a native app on your smartphone where you can uniquely identify yourself
      and verify which information will be passed on to the login server.
    </p>
  </div>
</template>

<script>
export default {
  name: 'Welcome',
  props: {
    user: String
  }
}
</script>

<style scoped>
.success {
  display: inline-block;
  text-align: center;
  padding: 20px 30px;
  border: 3px solid rgb(35, 155, 86);
  background-color: rgb(35, 155, 86);
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
</style>