<template>
  <div id="app">
    <h1>Passwordless Login POC</h1>
    <PasswordlessLogin></PasswordlessLogin>
    <Footer></Footer>
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'
import PasswordlessLogin from '@/components/PasswordlessLogin.vue'
export default {
  name: 'app',
  components: {
    Footer,
    PasswordlessLogin
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
